@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body{
    margin: 0px;
    padding: 0px;
}

#root{
    font-family: "Nunito", sans-serif;
    margin: 0px;
    padding: 0px;
}

.form-button{
    width: 100%;
    background: #031B3D;
    border-radius: 25px;
    margin: 7px 0;
    padding: 14px 16px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    transition: 0.3s ease-in;
}

.form-button:hover{
    background: #54CCBA;
    transition: 0.3s ease-in;
}

.tc-min-section{
    font-size: 11px;
    font-weight: 500;
    color: #313131;
    text-align: center;
    line-height: 14px;
}

#tc-min-section-icon{
    color: #313131;
    margin-right: 5px;
}

.alert-section{
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #c90707;
    background: #ffaaaa;
    padding: 4px 5px;
    padding-top: 5px;
    margin: 5px 0;
    border-radius: 3px;
}